{% extends "orders/base.html" %}

{% block title %}Login{% endblock %}

{% block body %}

<div id="myDIV">
<div class="container" style="padding: 30px;">
  <div class="row justify-content-start"></div>
  <div class="row justify-content-center mt-2 mb-2">
    <h2 class="text-light">Login Session</h2>
  </div>
  <div class="row justify-content-center text-center mb-3">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input name="username" type="text" placeholder="Username"/><br><br>
      <input name="password" type="password" placeholder="Password"/><br><br>
      <input type="submit" class="btn btn-primary" value="Login"/>
    </form>
  </div>
    <div class="row justify-content-center mb-2 context-message">
    {% if message %}
      {{ message }}
    {% endif %}
    </div>
  <div class="row justify-content-center text-center">
    <span style="margin-right: 0.5em;" class="text-light">New here?</span><a href="{% url 'register' %}" class="text-light">Register</a>
  </div>

</div>
</div>
{% endblock %}
